# Estadistica Aplicada

## Sesión 5, 16ago

## Ricardo de Jesús Cervantes García

# Repaso de pandas

In [10]:
import pandas as pd
import numpy as np

In [2]:
calificaciones=pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/Calificaciones.csv')

In [3]:
calificaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 28 non-null     int64
 1   Nombre             28 non-null     object
 2   Apellido           28 non-null     object
 3   Calficación Final  28 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.0+ KB

In [5]:
calificaciones=calificaciones.rename(columns={'Calficación Final':'CalFinal'})

In [6]:
calificaciones=calificaciones.loc[:,calificaciones.columns!='Id']

In [8]:
calificaciones.head()

    Nombre   Apellido  CalFinal
0  ANTONIO     GARCIA        73
1   MANUEL  FERNANDEZ        19
2     JOSE   GONZALEZ        38
3    DAVID      PEREZ        14
4     JUAN      LOPEZ        99

In [9]:
calificaciones['CalFinal'].mean()

52.0

In [13]:
calificaciones['Situación']=np.where(calificaciones['CalFinal']>=70,'Aprobado','Reprobado')

In [16]:
calificaciones.groupby('Situación').mean(numeric_only=True).round(1)

           CalFinal
Situación
Aprobado       90.1
Reprobado      30.8

In [21]:
calificaciones.groupby('Situación')['CalFinal'].agg(['count','mean','std']).round(1)

           count  mean   std
Situación
Aprobado      10  90.1  10.0
Reprobado     18  30.8  21.6